body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.red-highlight{
    color: deeppink;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(211, 84, 154),rgba(223, 24, 74, 0.733));   
     padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.half-width{
    width: 38%;
    float: left;
    margin-top: 0;
    margin-left: 10%;
    padding-left: 2%;
    top: 30%;
}
.top-banner{
    background-image: url("header-bg.png");
    background-repeat: repeat;
    background-position: 100%;
    margin-top: 0;
}
.half-width img{
    width: 100%;
}
section{
    height :500px;
    padding-bottom: 500px;}
.mid-banner{
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
}
.third-banner{
    background-image: url(latest-work-bg.png);
    background-repeat: no-repeat;
}
#parent{
    background-color: black;
    position: relative;
    top: 60%;

}
  
#last-banner{
    background-image: url(footer-bg.png);
    background-repeat: repeat;
}
.column{
    float: left;
    width: 20%;
    padding: 5px;
    position: relative;
    left: 20%;
    
}
.box0{
   text-align: center; 
   width: 700px;
   position: relative;
   left: 33%;
   top:40%;  
}
.h{
    font-size: 35px;
}

.box{
    background-image: linear-gradient(45deg, rgb(211, 84, 154),rgba(223, 24, 74, 0.733));
    height: 150px;
    width: 800px;
    position: relative;
    left: 28%;
    right: 50%;
    padding: 50px;
    border-radius: 10px;
    top: 60%;
    box-shadow: 10px 10px 40px gray;
}
.hero{
    text-decoration: none;
    color: white;
    font-size:x-large;
    text-align: center;
    top: 70%;
    
}
.p{
    text-decoration: none;
    color: white;
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 12px;
}
.pic{
    width:50%;
    height: 750px;
    top: 50%;
}
.pic1{
    height: 350%;
    
    
}

